@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
  margin: 0;
  background: white;
  font-family: raleway;
  vertical-align: middle;

}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  height: 100vh;
  width: auto;
  font-family: raleway;
  background: #34495e;
}

.item {
  color: white;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;

}

nav a:hover {
  color: #6185aa
}

.section {
  padding-top: 20px;
}

/* .navsection {
  padding: 20px;
} */

/* nav,
section {
  border: 10px solid rgba(255, 0, 0, 0.8); */

  /* margin-bottom: 10px;
  border-radius: 3px;

} */

section {
  width:82%;
  float: right;
  height: 100vh;
  background: url(https://img.freepik.com/free-vector/woman-characters-having-business-conversation-meeting-flat-illustration_74855-14211.jpg?w=2000) no-repeat center fixed;
  background-size: cover;

}



/* section::after {
https://img.freepik.com/free-vector/woman-characters-having-business-conversation-meeting-flat-illustration_74855-14211.jpg?w=2000

} */

nav {
  width: 18%;
  float: left;
}

form {
  margin: 10px 290px;
  width: 362px;
  padding-left: 25px;
  padding-bottom: 25px;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 0%;
  text-align: left;
}

div.form {
  display: block;
  text-align: center;

}

  /* div {
    position: relative;
    margin: 0 0 1.5em;
  } */

form h1 {
  position: relative;
  color: #6185aa;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}


.detailtable {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 0px;
  border-collapse: separate;
  border-spacing: 0ch;
}

th {
  background-color: #8a8a8adc;
  border: 1px solid #8a8a8adc;
  font-weight: bolder;
}

td {
  background-color: #b3b3b3b5;
  font-weight: bold;

}

td:hover {
  background-color: #8a8a8adc;
}


.flex {
  display: flex;
  flex-direction: row;
}


.pdfdl {
  padding: 20px;
  padding-top: 0px;
}

div.spacer {
  margin-left: 25px;
}

.class {
  float: right;
  padding-right:5px;
}



h1 {
  position: relative;
  color: #6185aa;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}


h2 {
  padding-left: 20px;
  color: #6185aa;
  font-size: 18px;
}


.table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-collapse: separate;
  border-spacing: 0ch;
}

th {
  background-color: #8a8a8adc;
  border: 1px solid #8a8a8adc;
  font-weight: bolder;
}

td {
  background-color: #b3b3b3b5;
  font-weight: bold;

}

td:hover {
  background-color: #8a8a8adc;
}


.flex {
  display: flex;
  flex-direction: row;
}


.pdfdl {
  padding: 20px;
  padding-top: 0px;
}
